.blog {

  .newer-posts {
    float: left;
    font-size: 16px;
  }

  .older-posts {
    float: right;
    font-size: 16px;
  }

  .separator,
  .separator > .first-level,
  .separator > .first-level > .second-level,
  .separator > .first-level > .second-level > .third-level {
    height: 2px;
  }

  .separator > .first-level > .second-level > .third-level {
    background: #e52f45;
    width:      50%;
  }

  .separator > .first-level > .second-level {
    background: #b42b3e;
    width:      50%;
  }

  .separator > .first-level {
    background: #8ab2ff;
    width:      75%;
  }

  .separator {
    background: #4d71b7;
    width:      100%;
  }

  .header {
    color:     $red;
    font-size: 24px;
    font-family: 'Avenir LT Std 85 Heavy', sans-serif;
  }

  .posts {
    .post {
      margin-bottom: 40px;
    }

    .post-title {
      font-size: 20px;
      color:     $lightblue;
    }

    time {
      color: rgba(255, 255, 255, 0.5);
    }

    .post-excerpt {
      margin-top: 20px;
    }

    .post-meta .tags {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  a {
    color: $lightblue
  }

}
