@import url(//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/solarized_light.min.css);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,500italic,700italic);
@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/variables";

$font-size-base: 20px;

@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/mixins";
@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/normalize";
@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/print";
@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/glyphicons";
@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/scaffolding";
@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/type";
@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/code";
@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/forms";
@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/navbar";
@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/navs";
@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/component-animations";

/* Override Bootstrap Grid naming */
@import "grid";
@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/utilities";
@import "../components/bootstrap-sass-twbs/assets/stylesheets/bootstrap/responsive-utilities";

/**
* COLORS mostly from http://materialcolors.com/
*/
$background: #ffc107;
$lightBackground: #fffae7;
$shadow: #b48e00;
$orange: #ffc107;
$purple: #9c27b0;
$lightBlack: #444;
$blue: #03a9f4;
$darkOrange: #f60;

$vpadding: 20px;

@import "mixins";
@import "main";
@import "footer";
@import "blog";
@import "about";
