/* entypo */
[class*="entypo-"] {
  font-style: normal;

  &:before {
    font-family: 'entypo', sans-serif;
  }
}

html,
body {
  background-color: $background;
  color:            #fff;
  font-family:      'Avenir LT Std 45 Book', sans-serif;
  font-weight:      lighter;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
  font-family: 'Avenir LT Std 85 Heavy', sans-serif;
}

a {
  color: $lightblue
}

.nopadding {
  padding-right: 0 !important;
  padding-left:  0 !important;
}

.archive-list-title,
.tag-page-title {
  margin-top:    25px;
  margin-bottom: 25px;
}

.main-content {
  margin: 100px 0 100px 0;
}
