@charset "UTF-8";
@import url(//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/monokai_sublime.min.css);

$bootstrap-sass-asset-helper: true;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

$font-size-base: 16px;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/component-animations";

/* Override Bootstrap Grid naming */

@import "grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

/**
* COLORS mostly from http://materialcolors.com/
*/

$background: #221931;
$darkpurple: #2e2242;
$darkerpurple: #170f24;
$lightpurple: #766592;
$purple: #5E70A6;
$lightblue: #8ab2ff;
$red: #e52f45;
$blue: #3B4B7D;
$vpadding: 20px;

/**
* FONTS
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Roboto+Slab:300,400,700');
@import "entypo";
@import "mixins";
@import "main";
@import "header";
@import "blog";
@import "footer";
@import "about";
