{{!< default}}

<section class="blog">
  <div class="container">
    <div class="medium-10 medium-offset-1">
      <div class="posts">
        {{> "loop"}}
      </div>
    </div>
  </div>
</section>
