{{!< default}}

<header class="header post-head">
  <div class="container">
    <div class="text-center medium-10 medium-offset-1">

      <h1 class="post-title archive-list-title">{{tag.name}}</h1>

    </div>
  </div>
</header>

<main class="content" role="main">

  <section class="blog">
    <div class="container">
      <div class="medium-10 medium-offset-1">
        <div class="posts">
          {{> "loop"}}
        </div>
      </div>
    </div>


  </section>
</main>

