{{!< default}}


<header class="header">
  <div class="container">
    <div class="row text-center">
      {{#if @blog.logo}}
        <a class="blog-logo" href="{{@blog.url}}">
          <img class="header-avatar" src="{{@blog.logo}}" alt="{{@blog.url}}"/>
        </a>
      {{/if}}
      <h1 class=" header-logo" itemprop="name">{{@blog.title}}</h1>
    </div>
  </div>
</header>

<section class="resume">
  <div class="resume__inner container">
    <section class="resume__section row">
      <div class="medium-2">SYNOPSIS</div>
      <div class="medium-10 resume_section-content">

        <p>
          I am a software developer, currently living in Thessaloniki, Greece. I am all about high quality, clean
          and maintainable code, especially when combined with open source, startups and developer communities. Always
          trying to stay up-to-date with the latest standards and technologies.
        </p>

        <p>
          I started off with PHP and MySQL to create dynamic websites. I learned how to write HTML, CSS and how to read
          the specs. Now I am constantly improving on my Javascript (among others) in order to develop all sorts of web
          apps.
        </p>

        <p>
          E-commerce is both my specialization and my favorite business kind. You can absolutely rely on me to setup a
          Magento store, create a theme, a top-notch module and maintain the whole thing!
        </p>

      </div>
    </section>
    <section class="resume__section row">
      <div class="medium-2">SKILLS</div>
      <div class="medium-10 resume_section-content">
        <div class="resume__section-skills">
          <div class="bean-skills">
            <ul class="bean-skillset list-unstyled">
              <li class="skill-bar" style="width:100%; background-color:#7CD14E">
                <span>HTML5, CSS3</span>
                <span class="skill-percent">100%</span>
              </li>
              <li class="skill-bar" style="width:100%; background-color:#7CD14E">
                <span>PHP, MySQL</span>
                <span class="skill-percent">100%</span>
              </li>
              <li class="skill-bar" style="width:100%; background-color:#7CD14E">
                <span>Git</span>
                <span class="skill-percent">100%</span>
              </li>
              <li class="skill-bar" style="width:80%; background-color:#1CDCFF">
                <span>REST API’s</span>
                <span class="skill-percent">80%</span>
              </li>
              <li class="skill-bar" style="width:80%; background-color:#1CDCFF">
                <span>Node.js, Javascript</span>
                <span class="skill-percent">80%</span>
              </li>
              <li class="skill-bar" style="width:80%; background-color:#1CDCFF">
                <span>Magento, Ecommerce</span>
                <span class="skill-percent">80%</span>
              </li>
              <li class="skill-bar" style="width:70%; background-color:#C799FF">
                <span>Angular.js</span>
                <span class="skill-percent">70%</span>
              </li>
              <li class="skill-bar" style="width:70%; background-color:#C799FF">
                <span>TDD, BDD</span>
                <span class="skill-percent">70%</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="">
          <ul>
            <li>Immediate familiarity on new technologies</li>
            <li>Ability to work in team effectively</li>
            <li>Innovative, Analytical thinking</li>
            <li>Mood for acquisition and transmission of knowledge</li>
            <li>Organizational behavior, combined knowledge, methodically and consistently</li>
            <li>Decision-making</li>
            <li>Always in mood to work and learn</li>
            <li>Excellent knowledge of cyberspace and continuous monitoring of new technologies</li>
            <li>Excellent product knowledge Computer Hardware - Software</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="resume__section row">
      <div class="medium-2">PROJECTS</div>
      <div class="medium-10 resume_section-content">
        <p class="project">
          <a href="http://stargento.com" target="_blank">Stargento.com</a>
        </p>

        <p class="project">
          <a href="http://artofcolour.gr" target="_blank">Artofcolour.gr</a>
        </p>

        <p class="project">
          <a href="http://carfinder.gr" target="_blank">Carfinder.gr</a>
        </p>

        <p class="project">
          <a href="http://viralcontestapp.com" target="_blank">Viral Facebook App</a>
        </p>

      </div>
    </section>
    <section class="resume__section row">
      <div class="medium-2">OPEN SOURCE</div>
      <div class="medium-10 resume_section-content">

        <p class="project">
          <a href="http://github.com/stakisko/feedly-api" target="_blank">Feedly API Wrapper</a>
        </p>

        <p class="project">
          <a href="http://github.com/stakisko/quoteme.js" target="_blank">quoteme.js</a>
        </p>

      </div>
    </section>
    <section class="resume__section row">
      <div class="medium-2">EXPERIENCE</div>
      <div class="medium-10 resume_section-content">
        <section class="experience-item">
          <header class="experience-head">
            <h1 class="h3">
              Magento Developer, Front End Developer
            </h1>

            <p>
              <a href="http://walkinthepark.gr" target="_blank">Walkinthepark.gr</a><br/>
              2014 - Present
            </p>
          </header>

        </section>

        <section class="experience-item">
          <header class="experience-head">
            <h1 class="h3">
              Full Stack Web Developer
            </h1>

            <p>
              <a href="http://dtek.gr" target="_blank">dTek Net.working</a> <br/>
              2013 - 2014
            </p>
          </header>

        </section>

        <section class="experience-item">
          <header class="experience-head">
            <h1 class="h3">(From March to December, 2012, i fulfilled my military service as defined by the Greek
              Constitution)</h1>
          </header>
        </section>

        <section class="experience-item">
          <header class="experience-head">
            <h1 class="h3">Full Stack Web Developer</h1>

            <p>
              <a href="http://eimaimesa.gr" target="_blank">eimaimesa.gr</a> <br/>
              2011
            </p>
          </header>
        </section>

      </div>
    </section>

    <section class="resume__section row">
      <div class="medium-2">EDUCATION</div>
      <div class="medium-10 resume_section-content">
        <h3><a href="http://www.teithe.gr/index_en.html" target="_blank">Alexander Technological Educational Institute
          of Thessaloniki (ATEITH)</a></h3>

        <p>Bachelor of Science (BS),<br/> Computer Software Engineering,<br/> 2006 – 2011</p>
      </div>
    </section>

    <section class="resume__section row">
      <div class="medium-2">INTERESTS</div>
      <div class="medium-10 resume_section-content">
        <p>Living in cutting-edge [Life|Web], latest gadgets & technologies, snowboarding, reading history, philosophy
          and IT books, exercising.</p>
      </div>
    </section>
  </div>
</section>
