{{!< default}}

{{> "menu"}}

<section class="blog container about">

  <div class="medium-8 medium-offset-2">

    <header class="header">
      <div class="row text-center">
        {{#if @blog.logo}}
          <img class="header-avatar" src="{{@blog.logo}}" alt="{{@blog.url}}"/>
        {{/if}}

        <h1>Hey, I'm Kostas. Nice having you here.</h1>
      </div>
    </header>

    {{> "separator"}}

    <main role="main">
      <div class="row about-section">
        <div class="medium-2 about-section-title">INTRO</div>
        <div class="medium-10">
          <p>
            I am a Software Engineer, currently living in Thessaloniki, Greece. I am all about high quality, clean and
            maintainable code, especially when combined with open source, startups and developer communities. Always
            trying to stay up-to-date with the latest standards and technologies.
          </p>

          <p>
            Currently, I write code for <a href="http://goodvid.io" target="_blank">Goodvidio</a>, a fast grown startup that aims to enrich your product pages with third party content. I am highly participating on writing distributed systems and robust APIs using Node.JS and MongoDB, while unit-testing and documenting everything.
          </p>

          <p>
            My coding path started building PHP apps and E-Commerce projects. Front End Development is one of my favorite hobbies always following the latest standards and trends for better performance and maximum usability.
          </p>

          <p>
            I love hackathons as much as I love conferences. In 2014 I've participated at <a
            href="http://www.startuplive.org/events/thessaloniki-1/">Thessaloniki Startup Live</a> with the <a
            href="http://tunedeck.navideck.com/">Tunedeck Team</a> and won the first place. I've participated many more since then.
          </p>

          <p>
            I am highly involved with the local dev community of Thessaloniki, <a href="http://skgtech.io" target="_blank">SKGtech</a>.
            We organized meetups, the
            <a href="http://devit.org" target="_blank">DEVit Conf</a> and the <a href="http://frontmass.org" target="_blank">FrontMass</a>.
          </p>
        </div>
      </div>

      <div class="row about-section">
        <div class="medium-2 about-section-title">BIO</div>
        <div class="medium-10">
          <div class="row">
            <div class="medium-2 bio-date">1988</div>
            <div class="medium-10 text-right">Bing Bang happens somewhere in Thessaloniki, Greece. <a
              href="https://en.wikipedia.org/wiki/Millennials">Generation Y got upgraded</a></div>
          </div>
          <div class="row">
            <div class="medium-2 bio-date">2000</div>
            <div class="medium-10 text-right">Bought my first computer. Since, then I've formatted every hard disk of my close friends.</div>
          </div>
          <div class="row">
            <div class="medium-2 bio-date">2001</div>
            <div class="medium-10 text-right">Wrote my first app (Lucky Seven) using Visual Basic</div>
          </div>
          <div class="row">
            <div class="medium-2 bio-date">2002</div>
            <div class="medium-10 text-right">Started Web Development using Flash, Dreamweaver and MS Web Publisher</div>
          </div>
          <div class="row">
            <div class="medium-2 bio-date">2005</div>
            <div class="medium-10 text-right">Started Web Development using raw HTML, CSS, JS</div>
          </div>
          <div class="row">
            <div class="medium-2 bio-date">2012</div>
            <div class="medium-10 text-right">Graduated from <a href="http://it.teithe.gr">A.T.E.I. Thessalonikis with the BsC of Computer Science</a></div>
          </div>
          <div class="row">
            <div class="medium-2 bio-date">2013</div>
            <div class="medium-10 text-right">Completed my military service of nine months, as from the Greek Law</div>
          </div>
          <div class="row">
            <div class="medium-2 bio-date">2013</div>
            <div class="medium-10 text-right">Started working with <a href="http://dtek.gr">DTek</a>. A lot of nice projects born from there like
              <a href="http://carfinder.gr">Carfinder.gr</a> and <a href="http://viralcontestapp.com">Viral Contest App</a>
            </div>
          </div>
          <div class="row">
            <div class="medium-2 bio-date">2013</div>
            <div class="medium-10 text-right">This blog is born</div>
          </div>
          <div class="row">
            <div class="medium-2 bio-date">2014</div>
            <div class="medium-10 text-right">Started working with a local web design agency. Lots of E-Commerce, Magento based, projects
            </div>
          </div>
          <div class="row">
            <div class="medium-2 bio-date">2014</div>
            <div class="medium-10 text-right"><a href="http://stargento.com">Stargento</a> is on the air</a>
            </div>
          </div>
          <div class="row">
            <div class="medium-2 bio-date">2014</div>
            <div class="medium-10 text-right">Won the first place at <a
              href="http://www.startuplive.org/events/thessaloniki-1/">Thessaloniki Startup Live</a> with the <a
              href="http://tunedeck.navideck.com/">Tunedeck Team</a>
            </div>
          </div>
          <div class="row">
            <div class="medium-2 bio-date">2015</div>
            <div class="medium-10 text-right">Started working with <a href="http://goodvid.io">Goodvidio</a>
            </div>
          </div>
          <div class="row">
            <div class="medium-2 bio-date">2015</div>
            <div class="medium-10 text-right">Did my first <a href="/references-from-my-javascript-101/">talk</a> at <a
              href="http://www.meetup.com/Thessaloniki-Node-js-Meetup/">SKG Nodejs local meetup</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row about-section">
        <div class="medium-2 about-section-title">PROJECTS</div>
        <div class="medium-10">
          <div class="row">
            <div class="medium-4">
              <a href="https://github.com/kbariotis/throw.js" target="_blank">Throw.js</a>
            </div>
            <div class="medium-8 text-right">HTTP Error collection to use in your next REST API.</div>
          </div>
          <div class="row">
            <div class="medium-4">
              <a href="https://github.com/kbariotis/meanimum" target="_blank">MEANimum</a>
            </div>
            <div class="medium-8 text-right">Meanimum is my Mongo/Express/Angular/Node Boilerplate.</div>
          </div>
          <div class="row">
            <div class="medium-4">
              <a href="http://stargento.com" target="_blank">Stargento</a>
            </div>
            <div class="medium-8 text-right">PHP sandbox powered up with the latest Magento installation to test your
              Magento skills.
            </div>
          </div>
          <div class="row">
            <div class="medium-4">
              <a href="https://github.com/kbariotis/documer" target="_blank">Documer</a>
            </div>
            <div class="medium-8 text-right">Bayes algorithm implementation with PHP.</div>
          </div>
          <div class="row">
            <div class="medium-4">
              <a href="https://github.com/kbariotis/feedly-api" target="_blank">Feedly-Api</a>
            </div>
            <div class="medium-8 text-right">PHP wrapper around Feedly's REST API.</div>
          </div>
        </div>
      </div>

      <div class="row about-section">
        <div class="medium-2 about-section-title">TALKS</div>
        <div class="medium-10">
          <div class="row">
            <div class="medium-4">
              <a href="http://slides.com/kostasbariotis/javascript-101" target="_blank">Javascript 101</a>
            </div>
            <div class="medium-8 text-right">A Javascript journey for beginners.</div>
          </div>
          <div class="row">
            <div class="medium-4">
              <a href="https://slides.com/kostasbariotis/microservices" target="_blank">Micro Services Architecture</a>
            </div>
            <div class="medium-8 text-right">How do I scale my codebase?</div>
          </div>
        </div>
      </div>

    </main>

  </div>
</section>
