{{!< default}}

{{> "menu"}}

<section class="blog container about">

  <div class="medium-8 medium-offset-2">

    <header class="header">
      <div class="row text-center">
        {{#if @blog.logo}}
          <img class="header-avatar" src="{{@blog.logo}}" alt="{{@blog.url}}"/>
        {{/if}}

        <h1>Hey, I am Kostas. Nice having you here.</h1>
      </div>
    </header>

    {{> "separator"}}

    <main role="main">
      <div class="row about-section">
        <div class="medium-2 about-section-title">INTRO</div>
        <div class="medium-10">
          <p>
            I am a software developer, currently living in Thessaloniki, Greece. I am all about high quality, clean and
            maintainable code, especially when combined with open source, startups and developer communities. Always
            trying to stay up-to-date with the latest standards and technologies.
          </p>

          <p>
            I started off with PHP and MySQL to create dynamic websites. I learned how to write HTML, CSS and how to
            read the specs. Now I am constantly improving on my Javascript (among others) in order to develop all sorts
            of web apps. I choose to focus on AngularJS and Node.js, as they seem most promising technologies.
          </p>

          <p>
            I am always trying to learn something more while I found that teaching others is an excellent way to this.
            Also, organizing my schedule and working from home are two things I love.
          </p>
        </div>
      </div>

      <div class="row about-section">
        <div class="medium-2 about-section-title">PROJECTS</div>
        <div class="medium-10">
          <div class="row">
            <div class="medium-4"><a href="">Meanimum</a></div>
            <div class="medium-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
          </div>
          <div class="row">
            <div class="medium-4"><a href="">Stargento</a></div>
            <div class="medium-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
          </div>
          <div class="row">
            <div class="medium-4"><a href="">Skgtech</a></div>
            <div class="medium-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
          </div>
        </div>
      </div>

      <div class="row about-section">
        <div class="medium-2 about-section-title">TALKS</div>
        <div class="medium-10">
          <div class="row">
            <div class="medium-4"><a href="">Javascript 101</a></div>
            <div class="medium-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
          </div>
          <div class="row">
            <div class="medium-4"><a href="">Microservice Architecture</a></div>
            <div class="medium-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
          </div>
        </div>
      </div>

    </main>

  </div>
</section>
