{{!< default}}

{{> "menu-logo"}}

<section class="blog container tags-collection">
  <div class="medium-8 medium-offset-2">

    <header class="header">
      <h1 class="tag-title tag-page-title">{{tag.name}}</h1>
    </header>
    <section class="tag-meta">
      A {{pagination.total}}-post collection
    </section>

    <div class="posts">
      {{> "loop"}}
    </div>
  </div>
</section>
